:root {
    --text-color:#262626;
    --primary-color: #3bc8f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif; 
}


.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text-color);
    margin: 0 auto;
    padding: 0 22px;
    z-index: 2;
    height: 44px;
}
.logo i{
    font-size: 20px;
    color: #cecece;
    padding: 0 20px;
    cursor: pointer;
}

.navbar  {
    margin: 0 -0.9%;
    
}


.navbar-icon {
    color: #cecece;
    text-decoration: none;
    justify-content: center;
    margin: 0px 18px;
    font-size: 12px;
    padding: 0 8px;
}

.navbar-icon:hover {
    color: #fff;
}

.section {
    padding: 1rem 1% 0 1%;
}

.home {
    padding-top: 9rem;
    background: #fbfbfd;
}
.container__text {
    font-size: 5.4rem;
    font-weight: 500;
    text-align: center;
    color: #333;
    padding-top: 3rem;
}

.container-inner {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 100;
    color: #333;
}

.link  {
    text-align: center;
    margin: 1.5rem 0 1.4rem 0;
}

.link-icon  {
    color: #0066cc;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
    padding-left: 20px;

}

.link-icon i {
    font-size: 15px;
    margin-left: -4px;
}

.image {
    min-height: 60vh;
    width: 40rem;
    background-size: cover !important;
    background-position: top;
    align-items: center;
    margin: auto;

}

/* airpod */
.home1 {
    padding-top: 0.9rem;
}

.img-airpod {
    text-align: center;
}

.home1-header {
    text-align: center;
    justify-content: center;
}

.image-airpod {
    width:100% ;
    min-height: 100vh;
    z-index: 1;
}

.text-airpod {
    z-index: 2;
    margin-top: -30%;
    color: #fff;
    font-size: 3.4rem;
    font-weight: 500;
}

.container-airpod  .airpod{
    color: #cecece;
    font-size: 1.5rem;
    line-height: 1.4;
}

.link-airpod {
    margin-top: 20px;
}


.link-icon-airpod {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
    padding-left: 20px;
}


/*  ip 13*/
.touch {
    padding: 1rem 1% 0 1%;

}


.touch-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 0.5rem;
} 

.box {
    background-image: url(./ip13.jpg);
    text-align: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    width:100%;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}

.content-ip13 {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.content-ip13-text {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 400;
}

.content-ip13-inner {
    color: pink;
    font-size: 1.7rem;
    font-weight: 300;
}

.link-ip13 {
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    text-align: center;
}

.link-icon-ip13 {
    color: #0066cc;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
    padding-left: 20px;
}

.link-ip13 i {
    font-size: 15px;
    margin-left: -4px;
}


/* apple watch */
.box2 {
    background-image: url(./watch.jpg);
    text-align: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 80vh;
    width: 100%;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}

.content-aw {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
}

.text-mini-red {
    color: red;
    opacity: 0.5;
    font-size: 12px;
    margin: 5px 0;
}

.apple-logo-aw {
    font-size: 2.3rem;
    font-weight: 700;
    margin: 10px 0;
}

.content-awtext {
    color: red;
    font-weight: 400;
    margin: 2px 0;
}

#content-aw-text-mini {
    font-size: 1.2rem;
    font-weight: 400;
}


.link-aw {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20px;
}

.link-icon-aw {
    color: #0066cc;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.1rem;
    padding-left: 20px;
}

.link-icon-aw i {
    font-size: 15px;
    margin-left: -4px;
}

/* homepod mini */
.box3 {
    background-image: url(./homepodmini.jpg);
    text-align: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    width: 100%;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}

.content-homepod {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin: -10px 0;
}

.link-homepod {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
}

.content-homepod-text {
    font-size: 2.3rem;
    font-weight: 400;
}

.link-icon-homepod {
    color: #0066cc;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.1rem;
    padding-left: 20px;
}

.link-icon-homepod i {
    font-size: 15px;
    margin-left: -4px;
}

.box4 {
    background-image: url(./macbook.jpg);
    text-align: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    width: 100%;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}


.content-macbook-text {
    margin: 2px 0;
}

.link-macbook {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
}

.link-icon-macbook {
    color: #0066cc;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.1rem;
    padding-left: 20px;
}

.link-icon-macbook  i {
    font-size: 15px;
    margin-left: -4px;
}

/*  */

.home3 {
    min-height:67vh;
    width: 100%;
    position: relative;
}

.image-singer {
    max-width:100%;
    min-height: 65vh;
    z-index: 1;
    
}

.img-singer {
    padding-left: 15%;
    width: 100%;
    height: 100%;background-color: #000000;
}

/* footet */
.footer {
    background-color: #f5f5f7;
    height: 100%;
    padding: -10%;
}

.footer-impor {
    margin: auto;
    width: 98rem;
    height: 100%;
    
}

.footer-impor ul li {
    font-size: 15px;
    line-height: 1.2;
    list-style: none;
    opacity: .5;
    text-transform: none;
    letter-spacing: .02rem;
    border-bottom: 0.1rem solid #d2d2d7;
    padding-bottom: 1.5rem;
}

.footer-box-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 0fr));
    gap: 4.5rem;
    padding-top: 1rem;
}

.footer-box-content h3 {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: -.02rem;
    margin-right: 2rem;
    cursor: pointer;
}

.footer-box-content a {
    display: block;
    text-decoration: none;
    color: #777; 
    padding-top: .8rem;
    font-size: 12px;
}

.footer-box-content a:hover {
    color: #000000;

}

.footer-box-content2 {
    padding-top: 2.4rem;
}

.footer-box-content2 h3 {
    display: block;
}

.footer-box-content-2-3 {
    margin-top: 1.2rem;
}

.show-opa{
    color: #777;
}

.container-footer {
    padding-top: .5rem;
    padding-bottom: 1.5rem;
}

.container-footer__x {
    margin-bottom: 0.7rem;
    padding-bottom: 0.8rem;
    border-bottom: 0.1rem solid #d2d2d7;

}

.container-footer__x span{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: .01em;
    font-weight: 600;
    margin-right: 2rem;
    text-transform: none;
    color: #8c8c91;
}

.text-footer {
    text-decoration: none;
    color: #0066cc;
    font-size: 15px;
}

.made-power-by {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.legal-link  {
    font-size: 15px;
    text-transform: none;
    color: #888;
    letter-spacing: .04rem;

}

.legal-link-second a{
    font-size: 1.05rem;
    text-transform: none;
    color: #888;
    letter-spacing: .04rem;
    border-right: 1px solid #999;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
}


.local-link a
{
    float: right;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}